<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nav.dexedd">

    <application
            android:name=".app.Dexedd"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:logo="@android:color/transparent"
            android:theme="@style/Theme.DexTheme">

        <activity
                android:name=".app.MainActivity"
                android:label="@string/app_name"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".app.SplashActivity" />
        </activity>

        <activity
                android:name=".app.DexEntryActivity"
                android:label="@string/app_name"
                android:parentActivityName=".app.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".app.MainActivity" />
        </activity>

        <activity
                android:name=".app.SplashActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
